{{input type="text" value=searchString placeholder="Search..."}}

<ul>
  {{#each searchResults}}
    <li {{action 'bookServiceUser' this on='click'}}>{{personal_fields.name}} - {{hospital_number}}</li>
  {{/each}}
</ul>
