{{input type="text" value=searchString placeholder="Search..."}}

<ul>
  {{#each searchResults}}
    <li {{action 'resultSelected' this}}>{{personal_fields.name}} - {{hospital_number}}</li>
  {{/each}}
</ul>
