{{#each filtered_list}}
  {{#if blocking}}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-warning-sign"></span>
      {{note}}
    </div>
  {{/if}}
  {{#unless blocking}}
    <div class="alert alert-info" role="alert">
      <span class="glyphicon glyphicon-info-sign"></span>
      {{note}}
    </div>
  {{/unless}}
{{/each}}
