<div class="list-group">
  {{#each service_options}}
    {{#view 'SmartClient.AppointmentsServiceOptionView' serviceOptionId=id}}
      <div class="panel panel-info">
        <div class="panel-heading" {{action serviceOptionSelected id}}>{{name}}</div>

        {{#view Ember.View isVisibleBinding='view.isSelected'}}
          {{#if view.isVisible}}
            <ul class="list-group">
              {{#each this.clinics}}
                <li class="list-group-item" {{action clinicSelected id}}>{{name}}</li>
              {{/each}}
            </ul>
          {{/if}}
        {{/view}}
      </div>
    {{/view}}
  {{/each}}
</div>
