<div class="well">
  <h2>Add Service Provider</h2>

  {{#if model.errors.messages}}
    {{#each model.errors.messages}}
      <div class="error">
        {{this}}
      </div>
    {{/each}}
  {{/if}}

  {{#em-form model=model}}
    {{em-input property="name" label="Full Name" placeholder="Enter a full name"}}
    {{em-input property="username" label="Username" placeholder="Enter a username for login..."}}
    {{em-input property="password" label="Password" placeholder="And a password..." type="password"}}
  {{/em-form}}
</div>
