<div class="well">
  <table class="table">
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{name}}</td>
      </tr>
    </tbody>
  </table>

  {{#link-to 'service_user.clinics'}}
    <button class="btn btn-primary">
      <i class="icon-white icon-tasks"></i> New appointment
    </button>
  {{/link-to}}
</div>

{{outlet}}
