<h1>Tag</h1>

{{#if model.errors.messages}}
  {{#each model.errors.messages}}
    <div class="error">
      {{this}}
    </div>
  {{/each}}
{{/if}}

{{#em-form model=model}}
  {{em-input property="name" label="Tag name" placeholder="New Tag" type="name"}}
{{/em-form}}
