<div class="appointment-tags selected-tags btn-group btn-group-sm">
  {{#each selectedTags}}
      <button {{action 'untag' this.id}} type="button" class="btn btn-small btn-primary">
        {{this.name}}
      </button>
  {{/each}}
</div>
<div class="appointment-tags btn-group btn-group-sm">
  {{#each remainingTags}}
      <button {{action 'tag' this.id}} type="button" class="btn btn-small btn-default">
        {{this.name}}
      </button>
  {{/each}}
</div>
