<h1>Secure Maternity Appointment Recording Tracker</h1>
<h3>SMART</h3>

<h4>Licensing & Ownership</h4>

<p>
SMART Care Tool is the idea and property of Teresa McCreery. It consists of a technology service powering mobile and browser tools that support midwifery care provision.
<br/>
<br/>
The service provided by the Care Tool was developed to assist the service provided by the Community
Midwives Service in the National Maternity Hospital, Dublin.
<br/>
<br/>
The service is made available under private user license to the Community Midwifery Service of the National
Maternity Hospital, Dublin.
<br/>
<br/>
The Android app code is available under MIT license and can be found on this GitHub repository.
</p>

<h4>Contributors</h4>

<p>
The following people and company are acknowledged as contributing time, effort and expertise to the
development and deployment of the care tool.
<br/>
<br/>
Conor Wogan (The Product Works), Máté Marjai (The Product Works), John Smyth (The Product Works), Elliot
Tormey, Gareth Walsh (Paladin Council), Michael Connors.
</p>

