<h1>Appointments</h1>

{{service-option-selector service_options=service_options
                          selectedServiceOptionId=selectedServiceOptionId
                          serviceOptionSelected="filterByServiceOption"
                          clinicSelected="filterByClinic"
}}

{{appointment-list model=selectedClinic store=store showList=showList openBookingModal="openBookingModal" closeBookModal="closeBookModal"}}

{{outlet}}
