<h1>Appointment</h1>

<table>
  {{#each model.attributes}}
  <tr>
    <td>
      <strong>{{this.key}}:</strong>
    </td>
    <td>
      {{this.value}}
    </td>
  </tr>
  {{/each}}
</table>

{{#link-to 'appointment.edit' model}}Change{{/link-to}} | 
<a href="#" {{action "delete" this}}>Delete</a>

{{outlet}}
