<div class="well">
  <h2>Appointments for {{name}}</h2>

  {{appointment-list model=model store=store quickWeek=true showList=true service_user=suModel openBookingModal="openBookingModal" closeBookModal="closeBookModal"}}
</div>

{{outlet}}
