<h1>Login</h1>


{{#em-form model=model}}
  {{em-input property="username" label="Username" placeholder="Your username" type="text"}}
  {{em-input property="password" label="Password" placeholder="********" type="password"}}
{{/em-form}}

