<div class="well">
  {{#link-to 'clinics'}}
    <button class="btn btn-primary">
      <i class="icon-white icon-th-list"></i> See clinics
    </button>
  {{/link-to}}

  <h4>{{name}}<h4>

  {{outlet}}
</div>
