<div class="well">
  <h3>Choose a Service Option</h3>

  <ul>
    {{#each so in model}}
      <li>{{#link-to 'service_option' so}}{{so.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}
