<div class="well">
  <h4>Service Options</h4>

  {{service-option-selector service_options=model
                            selectedServiceOptionId=selectedServiceOptionId
                            serviceOptionSelected="serviceOptionSelected"
                            clinicSelected="clinicSelected"
  }}

  {{outlet}}
</div>
