<div class="well">
  <h1>Service Users
    {{#link-to 'service_users.create'}}
      <button class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add</button>
    {{/link-to}}
  </h1>

  <ul id="su-list">
    {{#each model}}
      <li id="su-{{id}}">{{#link-to 'service_user.personal' this}}{{this.personal_fields.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}
