<div class="well">
  <h1>Service Providers</h1>

  <div class="list-group">
   {{#each sp in controller}}
      {{#link-to 'service_provider' sp class="list-group-item"}}
        {{sp.name}}
          <span class="glyphicon glyphicon-earphone pull-right"> {{sp.primary_phone}}</span>
      {{/link-to}}
    {{/each}}

    {{#if controllers.application.currentUser.admin}}
      {{#link-to 'service_providers.create' class="list-group-item"}}
        <span class="glyphicon glyphicon-plus"></span> Add
      {{/link-to}}
    {{/if}}

  </div>
</div>

{{outlet}}
