<div class="well">
  <h1>Service Provider</h1>

  {{outlet spData}}
  <div id="sp_success" class="alert alert-success" style="display:none">
    <a href="#" class="close" {{action 'close'}}>&times;</a>
    <strong>Success</strong>, Service Provider updated.
  </div>
</div>

{{outlet}}
