<div class="well">
  <h1>Service Users
    {{#link-to 'service_users.create'}}
      <button type="button" class="btn btn-default btn-lg pull-right">
        <span class="glyphicon glyphicon-plus"></span> Add
      </button>
    {{/link-to}}
  </h1>

  <ul>
    {{#each model}}
      <li>{{#link-to 'service_user' this}}{{this.personal_fields.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}
