<div class="well">
  <h1>Service Provider</h1>

  <table>
    <tbody>
      {{#each model.attributes}}
      <tr>
        <td>
          <strong>{{this.key}}:&nbsp</strong>
        </td>
        <td>
          {{this.value}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#link-to 'service_provider.edit' model}}Edit{{/link-to}}
</div>

{{outlet}}
