<div class="well">
  <h1>Service Providers</h1>

  {{#if controllers.application.currentUser.admin}}
    {{#link-to 'service_providers.create'}}
      <button type="button" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add
      </button>
    {{/link-to}}
  {{/if}}

  <ul>
   {{#each sp in controller}}
      <li>
        {{#link-to 'service_provider' sp}}
          {{sp.name}}
        {{/link-to}}
        {{#if controllers.application.currentUser.admin}}
          | <a href="#" {{action activate sp}}>{{sp.activated_text}}</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>

{{outlet}}
